<div class="container text-center mx-auto">
  <img style="width: 150px;" class="block mx-auto" src="/images/logo.jpg"/>
  <hr>
  <h1 class="text-2xl py-4">Sorry!</h1>
  <p class="text-base">{{message}}</p>

  <div class="pt-4">
    <a class="text-base text-blue-500" href="/">Return Home</a>
  </div>
</div>
